In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('train_loan/train.csv')
Y = data['Approved']
data = data.loc[:, data.columns != 'Approved']
data

,ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,...,Primary_Bank_Type,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1
0,APPC90493171225,Female,23/07/79,15/07/16,C10001,A,COM0044082,A,4.0,2000.0,...,P,N,S122,G,0.0,NaN,NaN,NaN,NaN,0
1,APPD40611263344,Male,07/12/86,04/07/16,C10003,A,COM0000002,C,1.0,3500.0,...,P,Y,S122,G,0.0,20000.0,2.0,13.25,953.0,10
2,APPE70289249423,Male,10/12/82,19/07/16,C10125,C,COM0005267,C,4.0,2250.0,...,G,Y,S143,B,0.0,45000.0,4.0,NaN,NaN,0
3,APPF80273865537,Male,30/01/89,09/07/16,C10477,C,COM0004143,A,4.0,3500.0,...,G,Y,S143,B,0.0,92000.0,5.0,NaN,NaN,7
4,APPG60994436641,Male,19/04/85,20/07/16,C10002,A,COM0001781,A,4.0,10000.0,...,P,Y,S134,B,2500.0,50000.0,2.0,NaN,NaN,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69708,APPU90955789628,Female,31/07/83,30/09/16,C10006,A,COM0000010,A,1.0,4900.0,...,P,N,S122,G,0.0,NaN,NaN,NaN,NaN,10
69709,APPV80989824738,Female,27/01/71,30/09/16,C10116,C,COM0045789,A,4.0,7190.1,...,P,N,S122,G,1450.0,NaN,NaN,NaN,NaN,7
69710,APPW50697209842,Female,01/02/92,30/09/16,C10022,B,COM0013284,C,4.0,1600.0,...,P,Y,S122,G,0.0,24000.0,4.0,35.50,943.0,2
69711,APPY50870035036,Male,27/06/78,30/09/16,C10002,A,COM0000098,C,3.0,9893.0,...,P,Y,S122,G,1366.0,80000.0,5.0,NaN,NaN,10
69712,APPZ60733046119,Male,31/12/89,30/09/16,C10003,A,COM0000056,A,1.0,4230.0,...,NaN,Y,S122,G,0.0,69000.0,4.0,13.99,1885.0,10

ID : Unique Customer ID

Gender : Gender of the applicant

DOB : Date of Birth of the applicant

Lead_Creation_Date : Date on which Lead was created

City_Code : Anonymised Code for the City

City_Category: Anonymised City Feature

Employer_Code: Anonymised Code for the Employer

Employer_Category1 : Anonymised Employer Feature

Employer_Category2: Anonymised Employer Feature

Monthly_Income : Monthly Income in Dollars

Customer_Existing_Primary_Bank_Code : Anonymised Customer Bank Code

Primary_Bank_Type: Anonymised Bank Feature

Contacted: Contact Verified (Y/N)

Source : Categorical Variable representing source of lead

Source_Category: Type of Source

Existing_EMI : EMI of Existing Loans in Dollars

Loan_Amount: Loan Amount Requested

Loan_Period: Loan Period (Years)

Interest_Rate: Interest Rate of Submitted Loan Amount

EMI: EMI of Requested Loan Amount in dollars

Var1: Anonymized Categorical variable with multiple levels

Approved: (Target) Whether a loan is Approved or not (1-0) . Customer is Qualified Lead or not (1-0)

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69713 entries, 0 to 69712
Data columns (total 21 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   69713 non-null  object
 1   Gender                               69713 non-null  object
 2   DOB                                  69698 non-null  object
 3   Lead_Creation_Date                   69713 non-null  object
 4   City_Code                            68899 non-null  object
 5   City_Category                        68899 non-null  object
 6   Employer_Code                        65695 non-null  object
 7   Employer_Category1                   65695 non-null  object
 8   Employer_Category2                   65415 non-null  float64
 9   Monthly_Income                       69713 non-null  float64
 10  Customer_Existing_Primary_Bank_Code  60322 non-null  object
 11  Primary_Bank_Type                    60322 non-null  object
 12  Contacted                            69713 non-null  object
 13  Source                               69713 non-null  object
 14  Source_Category                      69713 non-null  object
 15  Existing_EMI                         69662 non-null  float64
 16  Loan_Amount                          42004 non-null  float64
 17  Loan_Period                          42004 non-null  float64
 18  Interest_Rate                        22276 non-null  float64
 19  EMI                                  22276 non-null  float64
 20  Var1                                 69713 non-null  int64
dtypes: float64(7), int64(1), object(13)
memory usage: 11.2+ MB

In [4]:
data.shape

(69713, 21)

In [5]:
# Dropping ID and Employer_Code as these are identifiers
data = data.drop(['ID', 'Employer_Code', 'DOB', 'City_Code', 'Source'], axis = 1)

In [6]:
data.isna().sum()

Gender                                     0
Lead_Creation_Date                         0
City_Category                            814
Employer_Category1                      4018
Employer_Category2                      4298
Monthly_Income                             0
Customer_Existing_Primary_Bank_Code     9391
Primary_Bank_Type                       9391
Contacted                                  0
Source_Category                            0
Existing_EMI                              51
Loan_Amount                            27709
Loan_Period                            27709
Interest_Rate                          47437
EMI                                    47437
Var1                                       0
dtype: int64

from datetime import date, datetime
def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

data['DOB_date'] = pd.to_datetime(data['DOB'], format='%d/%m/%y')
age = []
for dob in data['DOB_date']:
    age.append(calculate_age(dob))
data['age'] = age
data = data.drop(['DOB'], axis = 1)

In [20]:
data['City_Category'].value_counts()

City_Category
A    49885
C    11694
B     7320
Name: count, dtype: int64

In [8]:
# One hot encoding: 
# City_Category, Gender, Employer_Category1, Employer_Category2, Source_Category, Var1

In [19]:
from sklearn.preprocessing import OneHotEncoder

categorical_columns = ['City_Category', 'Gender', 'Employer_Category1', 'Employer_Category2', 'Source_Category', 'Var1']
encoder = OneHotEncoder(sparse_output=False)
one_hot_encoded = encoder.fit_transform(data[categorical_columns])
one_hot_df = pd.DataFrame(one_hot_encoded, columns=encoder.get_feature_names_out(categorical_columns))
one_hot_df
# df_encoded = pd.concat([data, one_hot_df], axis=1)
# df_encoded = df_encoded.drop(categorical_columns, axis=1)
# df_encoded

,City_Category_A,City_Category_B,City_Category_C,City_Category_nan,Gender_Female,Gender_Male,Employer_Category1_A,Employer_Category1_B,Employer_Category1_C,Employer_Category1_nan,...,Source_Category_C,Source_Category_D,Source_Category_E,Source_Category_F,Source_Category_G,Var1_0,Var1_2,Var1_4,Var1_7,Var1_10
0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69708,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
69709,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
69710,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
69711,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
69712,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0